<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>GitLab Feature Flags Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Demo</a>
            <div class="d-flex">
                <th:block th:if="${username == null}">
                    <a th:href="@{/login}" class="btn btn-outline-success">ログイン</a>
                </th:block>
                <th:block th:unless="${username == null}">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="user-menu" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <span th:text="${username}"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="user-menu">
                                <li>
                                    <form method="post" th:action="@{/logout}">
                                        <button class="dropdown-item">ログアウト</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </th:block>
            </div>
        </div>
    </nav>
</header>
<footer th:fragment="footer">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom">
        <div class="container-fluid">
            <ul class="navbar-nav dropup">
                <li th:if="${environments.isEmpty}" class="nav-item">
                    <span class="nav-link">
                        environment: <span th:text="${activeProfile}"></span>
                    </span>
                </li>
                <li th:if="${!environments.isEmpty}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="environment-button" role="button"
                       data-bs-toggle="dropdown">
                        environment:
                        <span th:text="${activeProfile}"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="environment-button">
                        <li th:each="environment : ${environments}">
                            <a class="dropdown-item" th:href="${environment.url}" th:text="${environment.name}"></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <span class="nav-link">
                        Feature Flags:
                        <span class="badge" th:classappend="${surveyEmphasizeButton} ? 'bg-primary' : 'bg-secondary'"
                              style="font-size: inherit">survey-emphasize-button</span>
                    </span>
                </li>
            </ul>
        </div>
    </nav>
</footer>
</body>
</html>